<h1>Posts and Stuff</h1>

<h2>Posts - <small><%= link_to 'Create Post', new_post_path %></small></h2>

<% if @posts.any? %>
  <ul>
    <% @posts.each do |post| %>
      <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No posts yet, check back later!</p>
<% end %>

<h2>Tags - <small><%= link_to 'Create Tag', new_tag_path %></small></h2>

<% if @tags.any? %>
  <ul>
    <% @tags.each do |tag| %>
      <li><%= link_to tag.name, tag_path(tag) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No posts have any tags yet, check back later!</p>
<% end %>
